/* 


.white-windows{
 background-color: white;
 height: 780px;
 border: 1px blue;
}
main h2 {
  color: rgb(31, 187, 235);
  font-weight: 600;
  margin-left: 2px;
  margin-bottom: 20px;
  font-size: 20px;
}
#title-box-source {
    margin-top: 100px;
}




.nav-link
{
    color : white
}

.subscription
{
    margin-top: 100px; 
    width: 500px;
    padding: 35px;
    color:rgb(31, 187, 235) ;
    background-color: white;
}



.nav {
  margin-bottom: 200px;
}
.form_projet_creation
{

 margin-left: 15px;
  color:rgb(31, 187, 235) ;
  width : 400px;
  
}
.form_projet_creation .form-control{
    padding: 15px;
    border: 2px black solid;
}
.div_projet_creation
{
    padding-left: 50px;
    width: 1500px;
}
.nav{
    margin: 0%;
}
#create_projet_title
{
  color: white;
   font-size: 25px;
   margin-bottom: 5px;
}

.card {
    width: 1000px;
  text-align: center;
}
.table {
   width: 1200px
}



#description
{
    border: 1px black solid;
    padding: 15px;
    width: 400px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#homeimg {
 margin-left : 460px;
 margin-top : 200px;
 height: 350px;
 width: 350px;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 border: 1px rgb(31, 187, 235) solid;
 border-radius: 10px;
} */


.logosite{
    width: 300px;
    height: 300px;
    margin-left: -900px;
    margin-top: -90px;
}

#deconnexion,#inscription, #connexion{
    margin-left: 750px;
    position: absolute;
}



.cards{
    /* display: inline-block; */
    display: inline-block;
    border: 2px solid #ed8f2a;
    width: 500px;
    height: 300px;
    margin-left: 100px;
    margin-bottom: 100px;
   border-radius: 10px;
   padding: 20px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.circle{
    border: 3px solid #ed8f2a ;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.imgcards{
    width: 500px;
    height: 150px;
}

.btnTraduct{
    position:absolute;
    padding: 10px;
     text-decoration: none;
     background:   #ed8f2a ;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
     color: white;
     cursor: pointer;
     /* margin-left:95px;
    margin-top: 270px; */
}
.cardbody h5{
  font-size:x-large;
  font-weight:600;
}
span{
    font-weight:600;
}

#drapimg{
    height: 54px;
    width: 54px;
}

#description  {
    margin-left: 5px;
}

.form-control
{
    border-radius: 0px;
    border:1px black solid ;
    width: 700px;
    padding: 10px;
    margin-left: 25px;
 
}

.btn-subscription{
    background-color: #ed8f2a;
    border:none;
    color: white;
    padding: 7px;
 margin-top: 10px;
 margin-left: 25px;
}
.form-label, #title-box-projet, #titlePassword, #titleEmail{
    margin-left: 25px;
}

#info {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    color: white;
}
